div#task_log_controls {
  position: absolute;
  top: 5em;
  right: 3em;
  border-color: #666;
  border-width: 0.25em;
  border-style: solid;
  border-radius: 0.5em;
  background-color: #bbb;
  padding: 0.5em;
  margin: 1em;
  z-index: 100;
}

.view-task-log pre.task-log-row {
  background-color: black;
  padding: 0 15px;
  margin: -3px 0;
  font-family: monospace;
  border-radius: 0;
  border: 0;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.view-task-log pre.task-log-row.first-task-log-row {
  margin: 5px 0px 0px 0px;
  padding: 15px 15px 0px 15px;
}
.view-task-log pre.task-log-row.last-task-log-row {
  margin: -3px 0px;
  padding: 0px 15px;
}

