{#
/**
 * @file aegir_platform.html.twig
 * Default theme implementation to present Ægir Platform data.
 *
 * This template is used when viewing Ægir Platform pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_aegir_platform()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('aegir_platform') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
