<div id="auth_box" class="login">

  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <div class="logo"></div>
      </a>
    </h1>
  </div>

  <div id="middle_part">
    <h2 class="title">{{ title }}</h2>
    {{ messages }}
    {{ page.content }}
    <div class="login-link">
      <a href="{{ path('user.login') }}">&larr; {{ 'Login'|t }}</a>
    </div>
  </div>

</div>
